.ca-bundle-button-container { 
    display: flex; 
    justify-content: center; /* Center horizontally */ 
    align-items: center;     /* Center vertically */ 
    height: 20vh;           /* Full viewport height for vertical centering */ 
} 
 
.outerbox { 
    border: 1px solid #ddd; 
    padding: 20px; 
    border-radius: 5px; 
    position: relative; 
    margin-top: 20px; 
    margin-left: 120px; 
    overflow: hidden; /* Ensure overflow is hidden to contain the absolute positioned h4 */ 
    border-color: #004080; 
  } 
  .outerbox h4 { 
    position: absolute; 
    top: -1px; 
    left: 0; 
    right: 0; /* Stretch the h4 to full width */ 
    background-color: #004080; 
    color: white; 
    padding: 20px 10px; 
    font-size: 20px; 
    text-align: left; /* Center the text */ 
    border-radius: 5px 5px 0 0; /*Adjusted border-radius*/ 
  }