.logout-success-container { 
    text-align: center; 
    margin-top: 50px; 
  } 
   
  .logout-success-container h2 { 
    font-size: 24px; 
    color: #333; 
    margin-bottom: 10px; 
  } 
   
  .logout-success-container p { 
    font-size: 18px; 
    color: #555; 
  }